.border {
    border: 2px solid #ccc;
    border-radius: 16px;
    width: 300px;
    padding: 10px;
}
.title {
    margin: 0 0 10px 130px;
}
fieldset {
    width: 140px;

}
.forms {
    text-align: right;
}
.formatted {
    text-align: left;
    font-style: italic;
    margin: 0 0 10px 10px;
}
input:focus {
    outline: 2px solid #dba614;
}

input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}
input[type="submit"]:hover {
    background: green;
}