.border {
    border: 2px solid #ccc;
    border-radius: 16px;
    width: 300px;
    padding: 10px;
}
.title {
    margin: 0 0 10px 130px;
}
fieldset {
    width: 140px;

}
.forms {
    text-align: right;
}
.formatted {
    text-align: left;
    font-style: italic;
    margin: 0 0 10px 10px;
}